---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<h2>Upcoming talks</h2> <br>

Welcome to join the talk! <br>  <br>

<b>Title</b>: Construction of Orthogonal-MaxPro Latin Hypercube Designs <br>

<b>Place</b>: Design and Analysis of Experiments 2024 (DAE 2024);
May 15, 2024 - May 17, 2024;
Blacksburg, Virginia, USA. <br>

<b>Abstract</b>: <br>

Orthogonal Latin hypercube designs (LHDs) and maximum projection (MaxPro) LHDs are widely used in computer experiments. 
They are efficient for estimating the trend part and the Gaussian process part of the universal Kriging 
(i.e. the Gaussian process) model, respectively, especially when only some of the factors are active. 
Yet, the orthogonality and the MaxPro criteria often do not agree with each other. In this work, we 
propose a new class of optimal designs, called orthogonal-MaxPro LHDs, optimizing a well-defined 
multi-objective criterion combining the correlation and the MaxPro metrics. An efficient parallel
algorithm via level permutations and expansions is developed, whose efficiency is guaranteed by theories. 
Numerical results are presented to show that the construction is fast and the obtained designs are attractive, 
especially for large computer experiments. <br>


{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
